* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: #FFFEEF;
}

.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #424242;
    color: white;
    background: linear-gradient(to top, #ffffff, #0074e4);
}

.titulos-pages{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.hardware-software{
    background-color: aqua;
}

/* Estilos del footer */
footer {
    width: 100%;
    min-width: 350px;
    height: auto;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to top, #0074e4, #ffffff);
}
    
footer section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: 200px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    
}
/* Estilos de la imagen  */
.footer-image img{
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 6px 10px 0px black;
}
/* Estiñps del contacto */
.footer-address {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding-top: 30px;
}
.footer-address h3 {
    font-size: 1.4rem;
    padding-bottom: 10px;
}
.footer-address p {
    line-height: 1.5;
}
.footer-address a {
    color: #0074e4;
}
/* Estilos de redes */
.footer-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-redes p {
    font-size: 1.5rem;
    
}
.footer-redes ul{
    list-style: none;
    display: flex;
    padding: 0  ;
}
/* Estilos de horario */
.footer-horario {
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}
.footer-horario h3{
    font-size: 1.5rem;
}
.footer-terminos a {
    color: white;
}
.footer-terminos a:hover {
    color: rgb(15, 214, 148);
}
.footer-terminos a:visited {
    color: rgb(113, 39, 209);
}
/* Estilos del copyright */
.footer-copy {
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}
/* Estilos del dialog */

.precios{
    position: relative;
}
.precios .title-precios{
    position: absolute;
    top: 25%;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(80deg, #ffffff 50%, #8cd616 50%); /* Degradado de colores */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 86vh;
    z-index: 9999;
    border: none;
  }
  
    .dialog-content {
      position: relative;
      min-width: 240px;
      width: 95%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      grid-auto-rows: auto;
      margin: auto;  
      gap: 20px;
    }
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
      color: #802020a2;
      background-color: transparent;
      border: none;
      font-weight: 800;
    }
    .section-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      align-self: center;
      text-align: center;
    }
    .section-description p {
      font-size: 1.3rem;
      line-height: 1.3; /* Espaciado entre líneas */
      margin: 30px 0 0;
      color: #130b09e3; 
    }
    .section-description .contact {
      margin: auto;
      width: 200px;
      height: 40px;
      background-color: orange;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, #3399ff, #33ff99); /* Degradado de azul a verde claro */
      margin: 35px 0;
      font-size: 1.6rem;
    }
    .section-description .contact a{
      text-decoration: none;
    }
  
    .sectiion-detailed-description h2 {
    font-size: 1.6rem;
      width: 60%;
      margin: 20px auto;
      padding: 0 20px;
      text-align: center;
    }
    .sectiion-detailed-description ul {
      font-size: 1.2rem;
      list-style-type: none; 
      padding-left: 20px;
      margin-left: 0; 
    }
    .sectiion-detailed-description ul li {
    background-image: url("../img/6579067_and_computers_hardware_mouse_pc_icon.png");
    background-size: 20px 20px; /* Cambia el tamaño al que desees */
    background-repeat: no-repeat;
    padding-left: 30px; 
  }
    .price-section {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 90%;
      text-align: center;
      margin: auto;
    }
  .price-section p {
    font-size: 1.3rem;
  }